.tablero {
  margin: auto;
  width: 550px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
}

.boton {
  text-align: center;
  width: 80px;
  height: 40px;
  cursor: pointer; 
  border: 1px;
  border-style: solid;
  border-color: black;
}

p {
  font-size: 15px;
}