<div class="container">
  <div class="tablero">
    <mat-tab-group>
      <mat-tab label="Formulario 1">
        <button class="boton" mat-button ></button>
        <button class="boton" mat-button ></button>  
        <button class="boton" mat-button ></button>
        <button class="boton" mat-button ></button>  
        <button class="boton" mat-button ></button>
        <button class="boton" mat-button ></button>  
 
      </mat-tab>
    
      <mat-tab label="Formulario 2">
        <button class="boton" mat-button >Limpiar</button>
        <button class="boton" mat-button >Adicionar</button>  
      </mat-tab>
    
      <mat-tab label="Formulario 3">
        <p>Se tienen los siguientes</p>
        <p>Elementos:</p>
      </mat-tab>
    </mat-tab-group>
    
  </div>
</div>